@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";



/* base.css */
:root {
  --color-primary: #730168;
  --color-secondary: #ffed4a;
  --color-accent: #e3342f;

  --button-border-radius: 0 30px 0 0;
  --button-padding: 0.5rem 1rem;
  --button-margin: 1rem;
  --button-font-size: 1rem;
}

[data-theme='tenant1'] {
  --color-primary: #1784e2;
  --color-secondary: #1c5a3d;
  --color-accent: #5a1c3d;

  --button-border-radius: 1rem;
  --button-padding: 10px 30px;
  --button-margin: 10px;
  --button-bg-color: #1c3d5a;
  --button-font-size: 1.25rem;
}

[data-theme='tenant2'] {
  --color-primary: #7c3fff;
  --color-secondary: #654321;
  --color-accent: #abcdef;

  --button-border-radius: 0;
  --button-padding: 5px 15px;
  --button-margin: 0.5rem;
  --button-bg-color: #123456;
  --button-font-size: 0.875rem;
}


.button {
  border-radius: var(--button-border-radius);
  padding: var(--button-padding);
  margin: var(--button-margin);
  background-color: var(--color-primary);
  font-size: var(--button-font-size);
  color: white;
  display: inline-block;
  border: none;
  cursor: pointer;
}